venv/
__pycache__/
*.py[cod]
*$py.class
*.so

.DS_Store

__pycache__/
*.pyc

.pytest_cache/
.idea

venv/
__pycache__/
*.py[cod]
*$py.class
*.so

.DS_Store

__pycache__/
*.pyc

.pytest_cache/
.idea

notebooks/.ipynb_checkpoints
*.log

src/garpos_tools/garpos/
src/garpos_tools/build/
*.egg-info