# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info
*.egg

# Build artifacts
build/*
dist

# Virtual environments
.venv/
.pixi/*

# IDE
.vscode
.idea

# OS
.DS_Store

# Caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Project-specific
notebooks/.ipynb_checkpoints
*.log
src/garpos_tools/garpos/
src/garpos_tools/build/
sso_tokens.json
src/es_sfgtools/_version.py
docs/build
external/*
!external/README.md

src/golangtools/build/*

.github/skills/*
packages/earthscope-sfg/go/build/*
