[build-system]
requires = ["setuptools>=62.6", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "es_sfgtools"
version ="0.0.2"
authors = [
  { name="Mike Gottlieb", email="mike.gottlieb@earthscope.org" },
  { name="Franklyn Dunbar",email="franklyn.dunbar@earthscope.org"},
  { name="Rachel Terry", email="rachel.terry@earthscope.org"}
]
description = "Utilities for translating and processing Seafloor Geodesy data"
readme = "README.md"
license = { file="LICENSE" }
requires-python = ">= 3.10"
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]
dynamic = ["dependencies", "optional-dependencies"]

[tool.setuptools.dynamic]
dependencies = {file = ["requirements.txt"]}
optional-dependencies = {dev = { file = ["requirements-dev.txt"] }}

[project.urls]
"Homepage" = "https://gitlab.com/earthscope/public/seafloor-geodesy"
