numpy
scipy
pandas
matplotlib
scikit-learn
julian
pandera==0.20.3
pyarrow
pydantic
pyproj
pymap3d
boto3
botocore
tqdm
seaborn
sqlalchemy
tiledb
python-dotenv
scikit-sparse
earthscope-sdk==1.1.0
earthscope-cli==1.0.1
garpos @ git+https://github.com/EarthScope/garpos.git