boto3
botocore
numpy
pandas
scipy
julian
pyarrow
pandera
pydantic
pyproj
pymap3d
tqdm
earthscope-sdk
earthscope-cli
ipywidgets
matplotlib
seaborn
folium
scikit-learn
garpos @ git+https://github.com/EarthScope/garpos.git
