# Sphinx and Extensions for Read the Docs
sphinx
sphinx-rtd-theme
myst-parser
sphinxcontrib-apidoc
sphinx_pyproject

# Data Science and Analysis
# numpy
# scipy
# pandas
# matplotlib
# scikit-learn
# # scikit-sparse
# seaborn
# folium
# sqlalchemy
# pyarrow
# pandera

# Database
# tiledb

# Date and Time
# julian

# Geospatial
# pyproj
# pymap3d

# AWS and Cloud
# boto3
# botocore

# Utilities
# tqdm
# multipledispatch
# multiprocessing_logging

# Jupyter and Widgets
# nodejs
# nbgitpuller
# jupyterlab
# jupyterhub
# ipykernel
# ipywidgets

# Image Processing
# libtiff

# Editable install of the current package
# -e .

# Git repositories
# garpos @ git+https://github.com/EarthScope/garpos.git
# earthscope-sdk
# earthscope-cli
